<p id="komunikat"><%= flash[:komunikat] %></p>
<p id="notice"><%= notice %></p>

<ul class="list-group">
  <li class="list-group-item">
    <strong>Artist:</strong>
    <%= @event.artist %>
  </li>
  <li class="list-group-item">
    <strong>Description:</strong>
    <%= @event.description %>
  </li>
  <li class="list-group-item">
    <strong>Price low:</strong>
    <%= @event.price_low %>
  </li>
  <li class="list-group-item">
    <strong>Price high:</strong>
    <%= @event.price_high %></li>
  <li class="list-group-item">
    <strong>Event date:</strong>
    <%= @event.event_date %>
  </li>
</ul>

<% if user_signed_in? %>
  <%= render "new_ticket", ticket: Ticket.new(:event_id => @event.id, :user_id => current_user.id) %>
<% end %>

<%= render "tickets_list", tickets: @event.tickets %>

<%= link_to 'Back', events_path %>
